<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.wcs.monsterwiki">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomizeMonsterName"
            android:label="@string/nom" />
        <activity android:name=".CustomizeMonsterLevel"
            android:label="@string/caractéristiques"/>
        <activity
            android:name=".CustomizeMonsterType"
            android:label="@string/textType" />
        <activity android:name=".YourMonster" />
        <activity android:name=".ListeMonstres"
            android:label="@string/monstres" />
        <activity android:name=".Story" />
        <activity android:name=".Monyonkai"
            android:label="@string/macarte">

        </activity>
    </application>

</manifest>